@import "../../styles/variables.scss";

nav {
  display: flex;
  justify-content: space-between;
  margin: 49px 0;
  border: 1px solid red;
  .nav_logo_bar {
    display: flex;
    align-items: center;
    gap: 17px;

    img {
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      h2 {
        margin: 0;
      }
      span {
        color: $color-secondary;
        font-size: 16px;
      }
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 23px;

    hr {
      width: 1px;
      height: 25px;
      border: none;
      background-color: $color-default;
      opacity: 0.5;
    }

    div {
      display: flex;
      align-items: center;
      gap: 8px;

      p {
        padding-top: 3px;
      }
    }
  }
}
