@import "../../styles/variables.scss";

.sort {
  position: absolute;
  right: 5.3%;
  top: 29%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  gap: 5px;

  .label {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
  }

  .sort_event {
    display: flex;
    align-items: center;

    img[src*="arrow_up"] {
      margin-top: 3px;
    }

    span {
      color: $color_02;
      font-size: 14px;
      font-weight: 700;
      margin-left: 5px;
    }

    p {
      color: $color-primary;
      font-size: 14px;
      font-weight: 400;
      margin-left: 8px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    background: $color-default;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-left: 41%;

    li {
      font-size: 14px;
      font-weight: 400;
      color: $color-outline;
      border-radius: 0;
      padding: 12px 20px;
    }

    li:first-child {
      border-radius: 10px 0 0 0;
    }
  }
}
